/* common section start */
body {
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

.btn-primary {
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    /* line-height: 30px; */
}

/* common section end */

/* nav section start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.navbar-brand {
    font-size: 45px;
    color: #181818;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    color: #474747;
    text-decoration: none;
    /* margin-right: 50px;
    font-size: 20px; */
}

/* nav section end */

/* banner section start */
.header {
    background-color: #FFF8F3;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-img {
    width: 500px;
    /* height: 676px; */
}

.banner-content {
    max-width: 500px;
}

.banner-greetings {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    color: #181818;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
}

.banner-description {
    margin-top: 20px;
    margin-bottom: 0;
}

.banner-btn {
    margin: 30px 10px;

}

/* banner section end */
/* main section start */
main section {
    margin-top: 130px;
}

/* main section end */
/* about section start */
.about {
    padding: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;
}



main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* about section end */
/* skills section start */
.skills-container {
    display: flex;
    gap: 24px;
}

.skills {
    padding: 33px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

#what-i-do-description {
    padding: 30px 150px;
}

.skills-description {
    color: #757575;
}

/* skills section end */

/* Resume section start */
.resume-container {
    display: flex;
    gap: 80px
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

/* Resume section end */
/* main section end */